[user]
name = "Darren Clark"
email = "darrenjoelclark@icloud.com"

[ui]
default-command = "log"
merge-editor = "mergiraf"

[aliases]
ab = ["abandon"]
ed = ["edit"]
g = ["git"]
gf = ["git", "fetch"]
gp = ["git", "push", "--allow-new"]
rb = ["rebase"]
rs = ["restore"]
res = ["restore"]
sp = ["split"]
sq = ["squash"]
d = ["desc"]
dup = ["duplicate"]
el = ["evolog", "-p"]
n = ["new"]
showdesc = ["log", "--no-graph", "--template", "description", "-r"]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@-"]

[revset-aliases]
rebaseable = 'mine() & (mutable() ~ remote_bookmarks()) & immutable()+'

[templates]
git_push_bookmark = '"darrenclark/" ++ description.first_line().replace(regex:"[^a-zA-Z0-9_-]+", "-").replace(regex:"-+", "-").replace(regex:"^-+|-+$", "")'

draft_commit_description = '''
concat(
  builtin_draft_commit_description,
  "\nJJ: Has these parents:\n",
  parents.map(|c| "JJ:   " ++ c.commit_id().short() ++ "  " ++ c.description().first_line()).join("\n"),
  "\n\nJJ: ignore-rest\n",
  diff.git(),
)
'''
