[user]
name = "Darren Clark"
email = "darrenjoelclark@icloud.com"

[ui]
default-command = "log"
merge-editor = "mergiraf"

[aliases]
ab = ["abandon"]
ed = ["edit"]
g = ["git"]
gf = ["git", "fetch"]
gp = ["git", "push", "--allow-new"]
rb = ["rebase"]
rs = ["restore"]
res = ["restore"]
sp = ["split"]
sq = ["squash"]
d = ["desc"]
dup = ["duplicate"]
el = ["evolog", "-p"]
bc = ["util", "exec", "--", "jj-bookmark-create-from-description"]
n = ["new"]
showdesc = ["log", "--no-graph", "--template", "description", "-r"]
